.active li
{
    background-color:#F0F2F3;
}
#tab_content
{
    margin-top:9%;
    margin-left:1em;
    margin-right:1em;
    margin-bottom:1em;
    padding:1%;
    border: 1px solid;
    border-color: #DFDFDF;
    border-radius:6px;
}
.item_content
{
    margin-left:1em;
    margin-right:1em;
    margin-bottom:1em;
    padding:1%;
    border: 1px solid;
    border-color: #DFDFDF;
    border-radius:6px;
}
.cancel
{
    float:right;
    margin-top: 2%;
    margin-right: 2%;
}

.localstorage_panel
{
    margin-top:3%;
    border: 1px solid;
    border-color: #D0E3C7;
    border-radius:6px;
}
.localstorage_panel h1
{
    background-color:#DFF0D8;
    padding:0%;
    margin:0%;
    font-size:1.35em;
    padding:0.5em;
    color:#92B780;
}
.localstorage_panel p
{
    padding:0%;
    margin:0%;
    font-size:1.05em;
    padding:0.7em;
}
.submission_panel
{
    margin-top:3%;
    border: 1px solid;
    border-color: #D8E7D2;
    border-radius:6px;
}
.submission_panel input[type="button"]
{
    width:100%;
    border-radius:6px;
    color:black;
}

.submission_panel input[type="button"]:hover
{
    background-color:#F5FFEF;
}

