html    {
    margin:0px;
    padding:0px;
    height:100%;
}
body{
    font-family:arial;
    margin:0px;
    padding:0px;
    height:100%;
}

a {
    color:#B3B3B3;
    text-decoration: none;
}

a {
    color:#B3B3B3;
    text-decoration: none;
}
a:hover {
    color:#B78612;
}

#main
{
    height:100%;
    overflow:hidden;
}
#menu_panel
{
    float:left;
    padding-top:1%;
    height:100%;
    background-color:#F1F1F1;
    width:17%;
}
#menu_panel div
{
    border-bottom: 1px solid;
    border-color: #DFDFDF;
    padding:5%;
    padding-left:8%;
    width:87%;
    text-align:center;
}
#interaction_panel
{
    padding:3%;
    margin-left:3%;
    float:left;
    width:67%;
}

.information_panel
{
    border: 1px solid;
    border-color: #CAE2ED;
    border-radius:6px;
}
.information_panel h1
{
    background-color:#D9EDF7;
    padding:0%;
    margin:0%;
    font-size:1.35em;
    padding:0.5em;
    color:#536F7C;
}
.information_panel p
{
    padding:0%;
    margin:0%;
    font-size:1.05em;
    padding:0.7em;
}
.tab_panel
{
    border: 1px solid;
    border-color: #DFDFDF;
    border-radius:6px;
    margin-top:3%;
    display:inline-block;
    width:100%;
}
.tab_panel ul
{
    list-style: none;
    padding:0%;
    margin:0%;
    font-size:1.05em;
    width:100%;
}
.tab_panel li
{
    float:left;
    padding:0.7em;
    margin:0.5%;
    border-radius:0.3em;
}
.tab_panel li:hover
{
    background-color:#DBE5E9;

}
.tab_panel a
{
    color:black;
}
.active li
{
    background-color:#F0F2F3;
}
#tab_content
{
    margin-top:9%;
    margin-left:1em;
    margin-right:1em;
    margin-bottom:1em;
    padding:1%;
    border: 1px solid;
    border-color: #DFDFDF;
    border-radius:6px;
}
.item_content
{
    margin-left:1em;
    margin-right:1em;
    margin-bottom:1em;
    padding:1%;
    border: 1px solid;
    border-color: #DFDFDF;
    border-radius:6px;
}
.cancel
{
    float:right;
    margin-top: 2%;
    margin-right: 2%;
}

.localstorage_panel
{
    margin-top:3%;
    border: 1px solid;
    border-color: #D0E3C7;
    border-radius:6px;
}
.localstorage_panel h1
{
    background-color:#DFF0D8;
    padding:0%;
    margin:0%;
    font-size:1.35em;
    padding:0.5em;
    color:#92B780;
}
.localstorage_panel p
{
    padding:0%;
    margin:0%;
    font-size:1.05em;
    padding:0.7em;
}

input[type="radio"] + label 
{
    color:#000;
    font-size:2em;
}


input[type="button"]
{
    padding:0.7%;
    background:#fff;
    border: 1px solid;
    border-color:#F0F2F3;
    font-size:1em;
}
input[type="button"]:hover
{
    background:#F0F2F3;
}
select
{
    padding:1%;
}


#toolbar
{
    background:url(../img/hdbg.png);
    background-repeat: no-repeat;
    width:100%;
    height:3em;
    background-color:#D9A067;
    border-bottom: 3px solid;
    border-color:#B17C47;
    padding:1.5%;    
    font-size:1.05em;
    text-shadow: 5px 5px #C19054;
    color:#5C4E40;
}
