.cardio_panel
{
    display:flex;
    margin-top:1%;
    padding:0.5%;
    border:1px solid;
    border-radius:6px;
    border-color: #363640;
}
.tab_item
{
    flex:1;
    padding:1.5%;
    text-align: center;
    background-color:#302C2C;
    color:#E5E5E5;
    border-radius:4px;
    margin-left:0.8%;
}
.tab_item:nth-child(even)
{
  margin-left:1%;
  background-color:#2E2C2C;
}
.tab_item:hover
{
    background-color:#343131;
    cursor:pointer;
    color:#9F9C9C;
}
.edit
{
    float:right;
}
.addCardio
{
    display:flex;
    margin-bottom:1%;
    margin-top:0.7%;
    padding:0.6%;
}
.addCardio input
{
    flex:1;
    margin:1.5%;
    padding:1%;
    border-radius: 8px;
    border:none;
}
.addCardio input[type="text"]
{
    border:1px solid;
    border-color: #3C3C42;
    color:#9DAABA;
}
.editCardio
{
    display:flex;
    margin-bottom:1%;
    margin-top:0.7%;
    padding:0.6%;
}
.editCardio input
{
    flex:1;
    margin:1.5%;
    padding:1%;
    border-radius: 8px;
    border:none;
    color:#9DAABA;
}
.editCardio input[type="text"]
{
    background-color: #302C2C;
}
.cardio_forms
{

    display:none;
}
.cardio_forms form
{
    display:flex;
    margin-bottom:0.5%;
}
.cardio_forms p
{
    text-align:left;
    margin:0.8%;
    padding:0.8%;
    width:40%;
}
.cardio_forms input
{
    flex:1;
    margin:1%;
    padding:1%;
    text-align:center;
    flex-grow:5;
    background-color:#2E2C2C;
    color:#E5E5E5;
    border-radius:4px;
    border:none;
}
.cardio_forms input[type="text"]
{
    background-color:#302C2C;
    color:#E5E5E5;
    border-radius:4px;
    border:none;
}
.cardio_submit_all input
{
    padding:1%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    width:98%;
    border:none;
    background-color:#2E2C2C;
    color:#E5E5E5;
}
#editCardio:hover
{
    color:#C59666;
    cursor:pointer;
}
.information_panel
{
  margin:1.5%;
}

#addCardio:hover
{
    color:#C59666;
    cursor:pointer;
}
#gymCheck
{
    padding:1.5%;
    display:flex;
}

.messages
{
    flex:1;
    margin-left:3%;
    font-size:3em;
    color:#44444E;
}


.toggle {
    float:left;
    flex:1;
  position:relative;
  display:inline-block;
  width:40px;
  height:60px;
  background-color:#bbb;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  text-align:center;
}

.toggle input {
  width:100%;
  height:100%;
  margin:0 0;
  padding:0 0;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:2;
  cursor:pointer;
  opacity:0;
  filter:alpha(opacity=0);
}

.toggle label {
  display:block;
  position:absolute;
  top:1px;
  right:1px;
  bottom:1px;
  left:1px;
  background-image:-webkit-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:-moz-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:-ms-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:-o-linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  background-image:linear-gradient(top,#fff 0%,#ddd 50%,#fff 50%,#eee 100%);
  -webkit-box-shadow:0 2px 3px rgba(0,0,0,0.4),
    inset 0 -1px 1px #888,
    inset 0 -5px 1px #bbb,
    inset 0 -6px 0 white;
  -moz-box-shadow:0 2px 3px rgba(0,0,0,0.4),
    inset 0 -1px 1px #888,
    inset 0 -5px 1px #bbb,
    inset 0 -6px 0 white;
  box-shadow:0 2px 3px rgba(0,0,0,0.4),
    inset 0 -1px 1px #888,
    inset 0 -5px 1px #bbb,
    inset 0 -6px 0 white;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font:normal 11px Arial,Sans-Serif;
  color:#666;
  text-shadow:0 1px 0 white;
  cursor:text;
}

.toggle label:before {
  content:attr(data-off);
  position:absolute;
  top:6px;
  right:0;
  left:0;
  z-index:4;
}

.toggle label:after {
  content:attr(data-on);
  position:absolute;
  right:0;
  bottom:11px;
  left:0;
  color:#666;
  text-shadow:0 -1px 0 #eee;
}

.toggle input:checked + label {
  background-image:-webkit-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:-moz-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:-ms-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:-o-linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  background-image:linear-gradient(top,#eee 0%,#ccc 50%,#fff 50%,#eee 100%);
  -webkit-box-shadow:0 0 1px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  -moz-box-shadow:0 0 1px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  box-shadow:0 0 1px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
}

.toggle input:checked:hover + label {
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
  box-shadow:0 1px 3px rgba(0,0,0,0.4),
    inset 0 1px 7px -1px #ccc,
    inset 0 5px 1px #fafafa,
    inset 0 6px 0 white;
}

.toggle input:checked + label:before {
  z-index:1;
  top:11px;
}

.toggle input:checked + label:after {
  bottom:9px;
  color:#aaa;
  text-shadow:none;
  z-index:4;
}

.switched
{
    color:#74B780;
}
.information_panel p
{
  padding-bottom:0.5% !important;
}
.exercise_wrapper
{
    display:flex;
    flex-direction:column;
}