.food_form
{
    margin:3%;
    border
}

.food_form p
{
    font-size: 1.04em;
}

.food_form p input
{
    float:right;
    width:70%;
    border: 1px solid;
    border-color:#CCCCCC;
    padding:5px;
}

.food_form input[type="button"]
{
    padding:10px;
    margin:1%;
    margin-left: 28.7%;
    width:69%;
}

.consume_panel
{
    margin:2%;
    padding:2%;
    border: 2px solid;
    border-color:#D7D7D7;
    background-color:#F3F3F3;
    display:flex;
    border-radius: 8px;
}
.consume_panel span
{
    font-size:1.35em;
    color:#C3C3C3;
    padding:0;
    margin:0;

}
.nest
{
    color:#95749F;
    font-size:1.25em;
    flex:1;
    text-align:center;
}
.delete
{
    margin-top:-0.75em;
    margin-right:-0.35em;
    font-size:1.78em;
    color:#D5D4D5;
}


