html
{
    margin:0px;
    padding:0px;
    height:100%;
    overflow:hidden;
}

body
{
    margin:0px;
    padding:0px;
    font-size:1em;
    background-color: #282323;
    color:#E5E5E5;
    height:100%;
    font-family: 'Raleway', sans-serif;
}

h1{
    margin:0px;
    padding:0px;
    color:#E9AC61;
    margin:10px;
}
h2
{
    margin:10px;
    font-weight:normal;
    color:#9D9797;
    margin-bottom:2%;
}

a 
{
    color:#E5E5E5;
    text-decoration: none;
}

a:hover {
    color:#B78612;
}

.item_content
{
    margin-left:1em;
    margin-right:1em;
    margin-bottom:1em;
    padding:1%;
    border: 1px solid;
    border-color: #262121;
    border-radius:6px;
}

.menu_panel
{
    width:9%;
    float:left;
    height:100%;
    background-color:#3A3535;
    border-right:1px solid;
    border-color:#262121;
}

.menu_panel div
{
    border-bottom: 1px solid;
    border-color: #262121;
    padding:7%;
    padding-left:15%;
    text-align:left;
    background: linear-gradient(to bottom, #383333 , #3A3535 );
}

.main_content
{
    display:flex;
    flex-direction: column;
   padding:1%;
}

.information_panel
{
    background: linear-gradient(to bottom, #383333 , #3A3535 );
    border-radius:6px;
}
.information_panel h1
{
    padding:0%;
    margin:0%;
    font-size:1.55em;
    padding:1.5%;
}
.information_panel p
{
    padding:0%;
    margin:0%;
    font-size:1.05em;
    padding-left:1.5%;
    padding-bottom:3.5%;
}
.tab_panel
{
    border: 1px solid;
    border-color: #262121;
    border-radius:6px;
    margin-top:3%;
    display:inline-block;
    width:100%;
}
.tab_panel ul
{
    list-style: none;
    padding:0%;
    margin:0%;
    font-size:1.05em;
    width:100%;
}
.tab_panel li
{
    float:left;
    padding:0.7em;
    margin:0.5%;
    border-radius:0.3em;
}
.tab_panel li:hover
{
    background-color:#DBE5E9;

}
.tab_panel a
{
    color:black;
}

input
{
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
}


input[type="button"]
{
    padding:0.7%;
    background:#3C3C42;
    border: 1px solid;
    border-color:#262121;
    font-size:1em;
    color:#768291;
    border-radius: 4px;
}
input[type="button"]:hover
{
    background:#424246;
    color:#768291;
}
input[type="text"]:hover
{
    background:#424246;
    color:#768291;
}
input[type="password"]:hover
{
    background:#424246;
    color:#768291;
}
select
{
    padding:1%;
}
#toolbar
{
    width:100%;
    height:4em;
    background-color:#1E1E21;
    background: url(../img/header_bg.png) top center;
    background-size: cover;
    border-bottom: 1px solid;
    border-color:#262121;
}
#greeting
{
	color: #D1D1D1;
	font-size: 1em;
	float:left;
	padding:1em;
}
#settings
{
    float:right;
    height:100%;
}

#settings ul
{
    list-style:none;
}

#settings ul img
{
    position:relative;
    margin-top:-12%;
}
#settings a
{
    padding:4%;
}

#settings ul ul
{
    display:none;
    background-color:#272828;
    border: 1px solid;
    border-color: #262121;
    border-radius: 15px;
    position: absolute;
    margin:0;
    margin-left:-1.5%;
    margin-right:1.5%;
    padding-top:1.5%;
    padding-bottom:2%;
}
#settings ul ul li
{
    float:left;
    list-style:none;
    display:flex;
    flex-direction:column;
    padding:1%;

}

.localstorage_panel
{
    background-color: #28252A;
    margin-top:3%;
    border: 1px solid;
    border-color: #262121;
    border-radius:6px;
}
.localstorage_panel h1
{
    background-color:#2E2B30;
    padding:0%;
    margin:0%;
    font-size:1.35em;
    padding:0.5em;
    color:#92B780;
}
.localstorage_panel p
{
    padding:0%;
    margin:0%;
    font-size:1.05em;
    padding:0.7em;
    color:#4B4B5C;
}
.warning
{
    width:40%;
    padding:3%;
    height:auto;
    background-color:#383333;
    color:white;
    position: fixed !important;
    z-index:9;
    margin-left:33%;
    border-radius:8px;
    font-size:2em;
    border: 2px solid;
    border-color:#918888;
}
.dismiss
{
    color:#FFDFA3;
    float:right;
}
input[type="text"]
{
    background-color: #272828;
}
.alert
{
    border: 1px solid;
    border-color: #262121;
    border-radius:6px;
    margin-bottom:2%;
    margin-top:0.5%;
    margin-right:1.5%;
    margin-left:1.5%;
    padding-bottom:1.5%;
    background-color:#202022;
}
.alert p
{
    padding:0%;
    margin:0%;
    font-size:0.9em;
    padding:0.7em;
    padding-left:1.5%;

}
.alert h1
{
    padding:0%;
    margin:0%;
    font-size:1.1em;
    padding:0.3em;
    color:#555562;
    padding-left:1.5%;
}
.alert input
{
    padding:0%;
    margin:0%;
    margin-left:1.5%;
    margin-bottom:1.5%;
}
.alert input[type="button"]
{
    width:97%;
    margin-right:1.5%;
    margin-left:1.5%;
    color:#7D7D8D;
    border:none;
    padding:8px;
}


@media screen and (max-width:950px){


body
{
    height:auto;
    width:100%;
}


    .menu_panel
    {
        display:flex;
        float:none;
        width:100%;
        border
    }
    .menu_panel div
    {
        flex:1;
        flex-grow:2;
        padding:2%;
    }

    .main_content
    {
        display:block;
    float:left;
    width:98%;
    margin:1%;
    }
    .alert
    {
    width:40%;
    }

}

@media screen and (min-width:1920px){

.main_content
    {
        float:left;
    display:flex;
    flex-direction:row-reverse;

    }
#modules_bar
    {
    padding-left:2%;
    margin-right:-4%;
    display:flex;
    flex-direction:column-reverse;
    }

}