html
{
    margin:0px;
    padding:0px;
    height:100%;
    overflow:hidden;
}

body
{
    font-family:arial;
    margin:0px;
    padding:0px;
    height:100%;
    background-color:#1E1E21;
    color:#9DAABA ;
}

a 
{
    color:#9DAABA;
    text-decoration: none;
}

a:hover {
    color:#B78612;
}

.item_content
{
    margin-left:1em;
    margin-right:1em;
    margin-bottom:1em;
    padding:1%;
    border: 1px solid;
    border-color: #363640;
    border-radius:6px;
}

#menu_panel
{
    float:left;
    padding-top:1%;
    height:100%;
    background-color:#1E1E21;
}

#menu_panel div
{
    border-bottom: 1px solid;
    border-color: #363640;
    padding:7%;
    padding-left:15%;
    text-align:left;
}
#interaction_panel
{

}

.right_content
{
    float:left;
    width:77%;
    margin-left:2%;
    padding-left:2%;
}

.information_panel
{
    border: 1px solid;
    border-color: #3C3C42;
    border-radius:6px;
}
.information_panel h1
{
    background-color:#272828;
    padding:0%;
    margin:0%;
    font-size:1.35em;
    padding:0.5em;
    color:#9DAABA;
}
.information_panel p
{
    padding:0%;
    margin:0%;
    font-size:1.05em;
    padding:0.7em;

}
.tab_panel
{
    border: 1px solid;
    border-color: #363640;
    border-radius:6px;
    margin-top:3%;
    display:inline-block;
    width:100%;
}
.tab_panel ul
{
    list-style: none;
    padding:0%;
    margin:0%;
    font-size:1.05em;
    width:100%;
}
.tab_panel li
{
    float:left;
    padding:0.7em;
    margin:0.5%;
    border-radius:0.3em;
}
.tab_panel li:hover
{
    background-color:#DBE5E9;

}
.tab_panel a
{
    color:black;
}

input[type="radio"] + label 
{
    color:#000;
    font-size:2em;
}

input[type="button"]
{
    padding:0.7%;
    background:#3C3C42;
    border: 1px solid;
    border-color:#3C3C42;
    font-size:1em;
    color:#768291;
}
input[type="button"]:hover
{
    background:#424246;
}
select
{
    padding:1%;
}
#toolbar
{
    width:100%;
    height:4em;
    background-color:#1E1E21;
    border-bottom: 1px solid;
    border-color:#3C3C42;
}
#greeting
{
	color: #D1D1D1;
	font-size: 1em;
	float:left;
	padding:1em;
}
#settings
{
    float:right;
    margin-right:4%;
}

#settings ul
{
    list-style:none;
}

#settings ul img
{
    margin-top:-12%;
    
}

#settings ul ul
{
    display:none;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #363640;
    border-radius: 15px;
    position: absolute;
    margin:0;
    padding:0;
    list-style-type: none;
}
#settings ul ul li
{
    padding-top:15%;
    padding-bottom:15%;
    padding-left:10%;
    padding-right:10%;
}

.localstorage_panel
{
    margin-top:3%;
    border: 1px solid;
    border-color: #3C3C42;
    border-radius:6px;
}
.localstorage_panel h1
{
    background-color:#272828;
    padding:0%;
    margin:0%;
    font-size:1.35em;
    padding:0.5em;
    color:#92B780;
}
.localstorage_panel p
{
    padding:0%;
    margin:0%;
    font-size:1.05em;
    padding:0.7em;
}
.warning
{
    width:33%;
    padding:4%;
    height:120px;
    background-color:#FFC456;
    color:white;
    position: fixed !important;
    z-index:9;
    margin-left:33%;
    margin-right:33%;
    margin-top:5%;
    border-radius:11px;
    font-size:2em;
    border: 5px solid;
    border-color:#FDB734;
}
.dismiss
{
    color:#FFDFA3;
    float:right;
}
input[type="text"]
{
    background-color: #272828;

}
.alert
{
    margin-top:3%;
    margin-bottom:3%;
    border: 1px solid;
    border-color: #3C3C42;
    border-radius:6px;
}
.alert p
{
    padding:0%;
    margin:0%;
    font-size:1.05em;
    padding:0.7em;
    text-align:center;
}