#modules_bar
{
    height:auto;
    width:auto;
    color:white;

}

#modules_bar div
{
    float:left;
    width:100%;
    float:left;
    padding:1%;
    border-radius:10px;
    width:16%;
    margin:1%;
    margin-left:7%;
    min-height: 82px;
    border: 2px solid;

}
.jumbo
{
    width:50%;
    font-size: 2em;
    float:left;
    flex:1;
}
.remainder
{
    width:50%;
    flex:1;
    float:right;
}
.modules_footer
{
    float:left;
    background-color: white;
    margin:0;
    padding:0;
    width:100%;
    position:absolute;
    color:black;
    font-size:0.9em;
    margin-top:-10px
}
#exercises_illustration
{
    background-color:#56565f;
    border-color:#696973 !important;
}
#calories_illustration
{
    background-color:#5f5f69;
    border-color:#696973 !important;
}
#pictures_illustration
{
    background-color:#696973;
    border-color:#72727d !important;
}
#existing_calories_illustration
{
    background-color:#72727d;
    border-color:#5f5f69 !important;
}
#initialise_weeks
{
    font-size:0.7em;
    text-decoration: underline;
}
#initialise_weeks:hover
{
    color:blue;
    cursor: pointer;
}


