.person_info_panel
{
    padding:1%;
}
.row
{
    display:flex;
    border-bottom:1px solid;
    border-color:#3C3C42;
    margin-left:1%;
    padding:0.5%;
}
.title
{
    flex:1;
    font-size:1.5em;
}
.cell_value
{
    flex:1;
}